.jumbotron{
    background-image:url(images/mountains-water.jpg);
    background-size:cover;
    color: white;
    text-shadow: 2px 2px black;
    text-align:center !important;
    align-content:center;
}

h4{
    font-weight:bold;
}