.jumbotron{
    background-image:url(images/mountains-water.jpg);
    background-size:cover;
    color: white;
    text-align:center;
}

.jumbotron h1 {
    text-shadow: 2px 2px black;
}

h4{
    font-weight:bold;
}